article {
  padding: $gap;

  h3 {
    border-bottom: $border;
    font-weight: 100;
    position: relative;
  }
}

.task-counter {
  bottom: 5px;
  font-family: "Roboto Mono", monospace;
  font-size: 40px;
  font-weight: 900;
  line-height: 38px;
  position: absolute;
  right: 0;

  small {
    font-size: 24px;
    font-weight: 100;
  }
}

.task-list {
  li {
    margin-bottom: 5px;
    position: relative;
    user-select: none;

    &:last-child {
      animation: appear 0.3s normal forwards ease-in-out;
      opacity: 0;
    }

    &:hover,
    &:focus {
      .task-item {
        transform: translateX(40px);
      }
    }
  }
}

.task-item {
  background-color: $dark;
  color: $light;
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  padding: $gap / 4 $gap * 2 $gap / 4 $gap;
  position: relative;
  transition: all 0.3s ease;

  &.active {
    background-color: $green;
    text-decoration: line-through;
  }
}

.check-trigger {
  left: 6px;
  position: absolute;
  top: 8px;

  .check-icon {
    width: $gap;
  }
}

.del-trigger {
  position: absolute;
  right: 6px;
  top: 8px;

  .del-icon {
    width: 16px;
  }
}

form {
  margin-top: 30px;
}
