aside {
  padding: $gap;

  h3 {
    font-weight: 100;
  }
}
@media (max-width: 480px) {
  aside {
    border-top: $border;
  }
}
@media (min-width: 481px) {
  aside {
    border-left: $border;
  }
}

.log-list {
  max-height: 50vh;
  overflow: scroll;

  li {
    margin-bottom: 10px;

    &:last-child {
      animation: appear 0.3s normal forwards ease-in-out;
      opacity: 0;
    }
  }

  .date {
    display: block;
    font-family: "Roboto Mono", monospace;
    font-size: 10px;
  }

  .info {
    font-size: 12px;
  }
}

.data-trigger {
  color: $dark;
  display: inline-block;
  font-size: 10px;
  margin-bottom: $gap;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
