@mixin fontForm {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  padding: $gap / 2;
}

input[type="text"] {
  @include fontForm;
  background-color: transparent;
  border: $border-dark;
  border-radius: 0;
}
@media (max-width: 720px) {
  input[type="text"] {
    max-width: 200px;
  }
}

button {
  @include fontForm;
  background-color: $dark;
  border: $border-dark;
  color: $light;
  font-weight: 100;

  &:hover {
    background-color: $gray-900;
  }
}
