// grid setup elements

header {
  grid-area: header;
}

main {
  grid-area: main;
}

article {
  grid-area: article;
}

.task-list {
  grid-area: taskList;
}

form {
  grid-area: form;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}
