body {
  display: grid;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 100px 1fr 50px;
}

main {
  display: grid;
  grid-template-areas: "article aside";
  grid-template-columns: 3fr 1fr;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: left;

  align-content h3 {
    flex: 0 1 auto;
  }

  ul {
    align-self: auto;
    flex: 1 1 auto;
  }

  form {
    align-self: center;
    flex: 0 1 auto;
  }
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  main {
    grid-template-areas: "article" "aside";
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
}
