//==== GLOBAL
@import "_reset.scss";
@import "_variables.scss";
@import "_grid.scss";
@import "_layout.scss";
@import "_fonts.scss";
@import "_forms.scss";
//==== COMPONENTS
@import "_header.scss";
@import "_article.scss";
@import "_aside.scss";
@import "_footer.scss";

body {
  background-color: $light;
  color: $dark;
  font-family: "Roboto", sans-serif;
}
@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
